# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
*.egg

# Virtual environment
.venv/
venv/
env/

# Temp files
CIBO_Bootstrap/
*.tmp
*.bak
*.log

# OS files
Thumbs.db
Desktop.ini
.DS_Store

# IDE
.vscode/settings.json
!.vscode/
